.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #171717;
  min-width: 20rem;
  max-width: 56rem;
  min-height: 8rem;
  padding: 1rem 1rem 0;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 0 10px 0;
  resize: none;
}

::-webkit-input-placeholder {
  color: #736b5e;
}

:-ms-input-placeholder {
  color: #736b5e;
}

::-ms-input-placeholder {
  color: #736b5e;
}

::placeholder {
  color: #736b5e;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background: #ff4081;
}
