.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-left: 10px;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  max-width: stretch;
}

.item__edit {
  margin: 0 5px 0 10px;
}

.item__delete {
  margin: 0 5px 0 5px;
}

::ng-deep .mat-checkbox-frame {
  border-color: #736b5e;
}

::ng-deep .mat-icon {
  color: #736b5e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

::ng-deep .mat-icon:hover {
  color: #ff4081;
}

.editable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editable__input {
  background-color: #1f1f1f;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 14px;
  font-weight: 500;
}

.icons__cancel {
  margin: 0 5px 0 10px;
}

.icons__add {
  margin: 0 5px 0 5px;
}
