<div class="wrapper">
  <div class="forgot-block">
    <h3>Reset Password</h3>
    <p>Please enter your email address to request a password reset.</p>

    <mat-form-field class="user-email"  appearance="fill">
      <mat-label class="user-email__label">Enter your email</mat-label>
      <input matInput class="user-email__input" placeholder="pat@example.com" [formControl]="email" #passwordResetEmail required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>

    <span>Go back to?</span><a routerLink="/">Sing in</a>
  </div>
</div>