.wrapper {
    display: flex;
    flex-direction: column;
}

.textarea {
    background: #171717;
    min-width: 20rem;
    max-width: 100%;
    min-height: 8rem;
    padding: 10px 10px 0;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

::placeholder {
    color: #736b5e;
}