.item {
    display: flex;
    align-items: center;
}

.checkbox {
    margin: 0 10px 0 0;
}

.text {
    flex: 1 0 auto;
}

::ng-deep .mat-checkbox-frame {
    border-color: #736b5e;
}

::ng-deep .mat-icon {
    color: #736b5e;
    transition: all 0.2s;
    &:hover {
        color: #ff4081; 
    }
}

.edit {
    margin: 0 5px 0 10px;
}
.delete {
    margin: 0 5px 0 5px;
}

.editable {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-edit {
    background-color: #1f1f1f;
    color: white;
    flex: 1 0 auto;
    font-size: 14px;
    font-weight: 500;
}

.cancel {
    margin: 0 5px 0 10px;
}

.add-circle {
    margin: 0 5px 0 5px;
}