.item {
    display: flex;

    &__text {
        flex-basis: 100%;
        margin-left: 10px;
        max-width: stretch;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__edit {
        margin: 0 5px 0 10px;
    }

    &__delete {
        margin: 0 5px 0 5px;
    }

    &.checked {
        opacity: .5;
    }

    &:hover:not(.checked) {
        cursor: pointer;
    }
}

::ng-deep .mat-checkbox-frame {
    border-color: #736b5e;
}

::ng-deep .mat-icon {
    color: #736b5e;
    transition: all 0.2s;
    &:hover {
        color: #ff4081; 
    }
}

.editable {
    display: flex;
    flex-direction: row;

    &__input {
        background-color: #1f1f1f;
        color: white;
        font-size: 14px;
        font-weight: 500;
        resize: none;
    }
}
.icons {

    &__cancel {
        margin: 0 5px 0 10px;
    }

    &__add {
        margin: 0 5px 0 5px;
    }
}

mat-form-field {
    flex: 1 0 auto;
}

::ng-deep .mat-form-field-underline {
    display: none;
}