.item {
    display: flex;

    &__text {
        flex-basis: 100%;
        margin-left: 10px;
        max-width: stretch;
    }

    &__edit {
        margin: 0 5px 0 10px;
    }

    &__delete {
        margin: 0 5px 0 5px;
    }
}

::ng-deep .mat-checkbox-frame {
    border-color: #736b5e;
}

::ng-deep .mat-icon {
    color: #736b5e;
    transition: all 0.2s;
    &:hover {
        color: #ff4081; 
    }
}

.editable {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__input {
        background-color: #1f1f1f;
        color: white;
        flex: 1 0 auto;
        font-size: 14px;
        font-weight: 500;
    }
}
.icons {

    &__cancel {
        margin: 0 5px 0 10px;
    }

    &__add {
        margin: 0 5px 0 5px;
    }
}